# public = can be exposed to the client
# private = will not be exposed to the client (ssr)
PUBLIC_VERSION_STATE=draft
PUBLIC_BASE_URL=https://localhost:3000/

# when on localhost only use the necessary one
PUBLIC_PHOTO_TOKEN=
PUBLIC_BLOG_TOKEN=