@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Nunito&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Nunito', sans-serif;
}

h1,
h2 {
	font-family: 'Caveat Brush', cursive;
}

h3,
h4,
h5,
h6 {
	font-family: 'Caveat', cursive;
}
